{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

</head>
<body>
    {% block body %}

    <div class="container" style="margin-top: 150px; margin-bottom: 40px;">
        <h1 class="text-center" style="font-size: 5rem; font-weight: 700; color: #26a0da;">
            From Code to Cloud:<br>
            <span style="display: block; color: #f5f6fa; font-size: 2.5rem; font-weight: 800; letter-spacing: 2px;">
                My Python/Django Web Solutions
            </span>
        </h1>
    </div>

    <div class="row" style="margin-left: 25px; margin-right: 25px; margin-top: 150px;">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://i.imgur.com/G724BUy.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>RESTful API for managing and sharing recipes, built with Django and DRF.</span>
                </div>
            </div>
            <a href="http://ec2-18-134-136-50.eu-west-2.compute.amazonaws.com/api/docs/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Recipe App API
            </a>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/Nneven3.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>This is an example of a calorie tracker, made in a baic concept using bootstrap.</span>
                </div>
            </div>
            <a href="https://calorie-tracker.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Calorie Tracker
            </a>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/0iVI3o5.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>Whit authentication features,</br>sales statistics, orders follow up and</br>a dummy payment method based with Stripe</br>(recomend card number for testing: 4242 4242 4242 4242)</span>
                </div>
            </div>
            <a href="https://digital-market.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Digital Marketplace
            </a>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/K8bakiY.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>An App where you can add a food menu, with prices and details.</span>
                </div>
            </div>
            <a href="https://foodapp.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Food App
            </a>
        </div>
    </div>
    <div class="row" style="margin-left: 25px; margin-right: 25px; margin-top: 150px;">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/S8wDNDK.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>With cart feature, this website shows a Ecommerce experience with great UX.</span>
                </div>
            </div>
            <a href="https://ecom.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Ecommerce website
            </a>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/iYqq8dr.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>An example of a social media website, with authentication methods, posts, likes and comments.</span>
                </div>
            </div>
            <a href="https://socialmedia.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Social Media
            </a>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/JIG8q0j.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>With authentication, graphs and statistics, you can manage and control your expenses.</span>
                </div>
            </div>
            <a href="https://expenses-tracker.henrique-cabrita.com" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Expenses Tracker
            </a>
        </div>
       <div class="col-md-3 d-flex flex-column align-items-center">
            <div class="image-hover-card" style="position: relative; width: 100%; max-width: 400px; height: 250px; margin-bottom: 12px;">
                <img src="https://imgur.com/d9URges.jpeg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" />
                <div class="image-description-overlay">
                    <span>A website Scrapper, it will search and collect all the websites related to the website you input.</span>
                </div>
            </div>
            <a href="https://websites-collector.henrique-cabrita.com/" class="btn mt-2" style="font-size: 1.4rem; font-weight: 700;">
                Websites Collector
            </a>
        </div>
    </div>


    {% endblock %}

</body>
</html>
